@mixin section-styles($bg-color) {
    display: flex;
    align-items: center;
    background-color: $bg-color;
}

.main {
    grid-area: main;
    @include section-styles(rgb(0, 255, 255));
    height: 70vh;
}